
@{
    ViewBag.Title = "Akd2gProductionMode";
}

<h2>Akd2g Production Mode</h2>
<form method="post">
    <label for="codeInput">Hash Code:</label>
    <input name="codeInput" id="codeInput" />
    <br /><button tyoe="submit">Get Production Code</button>
</form>

